<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/login.css" />
  </head>
  <body>
    <div id="header-placeholder"></div>

    <main class="login-container">
      <div class="login-box">
        <h2>Đăng Nhập</h2>
        <form action="#" method="POST">
          <div class="input-group">
            <label for="email">Tài Khoản</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="input-group">
            <label for="password">Mật Khẩu</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div class="actions">
            <button type="submit" class="btn login">Đăng Nhập</button>
            <a href="#" class="forgot-password">Quên mật khẩu?</a>
          </div>
          <div class="social-login">
            <button class="btn google"><img src="../../assets/icon/google.png" alt="">Google</button>
            <button class="btn facebook"><img src="../../assets/icon/facebook.png" alt="">Facebook</button>
          </div>
          <div class="register-link">
            <p>Bạn chưa có tài khoản? <a href="register.html">Đăng ký</a></p>
          </div>
        </form>
      </div>
    </main>
    
    <div id="footer-placeholder"></div>

    <script src="../../assets/js/product-detail-main.js" type="module"></script>
  </body>
</html>
