<div class="container-main">
    <!-- header -->
    <header class="header">
      <div class="container-header">
        <!-- Logo -->
        <div class="nav__logo" aria-label="Logo MWC">
          <a href="index.html" class="nav__logo-link">
            <img src="project/public/img/logo.png" alt="Logo MWC" class="nav__logo-img" />
          </a>
        </div>

        <!-- navigation -->
        <nav class="nav" aria-label="Main Navigation">
          <ul class="nav__list">
            <li class="nav__item" role="menuitem" aria-current="page" aria-haspopup="true">
              <a class="nav__link" href="#about" id="dropdownMenu">Giày Nam</a>
              <ul class="nav__sublist dropdown" role="submenu" aria-labelledby="dropdownMenu">
                <li class="nav__subitem">
                  <a class="nav__sublink" href="#">submenu</a>
                </li>
                <li class="nav__subitem">
                  <a class="nav__sublink" href="#">submenu</a>
                </li>
                <li class="nav__subitem">
                  <a class="nav__sublink" href="#">submenu</a>
                </li>
              </ul>
            </li>
            <li class="nav__item" role="menuitem" aria-current="page" aria-haspopup="true">
              <a class="nav__link" href="#about" id="dropdownMenu">Giày Nam</a>
              <ul class="nav__sublist dropdown" role="submenu" aria-labelledby="dropdownMenu">
                <li class="nav__subitem">
                  <a class="nav__sublink" href="#">submenu</a>
                </li>
                <li class="nav__subitem">
                  <a class="nav__sublink" href="#">submenu</a>
                </li>
                <li class="nav__subitem">
                  <a class="nav__sublink" href="#">submenu</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>

        <!-- Search -->
        <div class="nav__search" aria-label="Search">
          <input type="text" class="nav__search-input" placeholder="Search..." />
          <button class="nav__search-btn" aria-label="Search button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <!-- action -->
        <div class="nav__action" aria-label="Action buttons">
          <button class="nav__action-btn" aria-label="Login button">
            <i class="fa-regular fa-user"></i>
          </button>
          <button class="nav__action-btn" aria-label="Cart button">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </div>
    </header>
  </div>