.product-detail {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 2rem;

  &__gallery {
    grid-template-rows: auto;
    column-gap: 1.5rem;
    justify-items: center;
  }

  &__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__thumbnails {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    margin: 1rem 0 2rem 0;
  }
  &__thumbnail {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }

  &__info {
    display: grid;
    grid-template-rows: auto;
    align-content: start;
    row-gap: 1.5rem;
  }

  &__rating {
    column-gap: 2rem;
  }

  &__stars {
    color: #ffcc00;
  }

  &__size-selection,
  &__color-selection {
    margin-top: 5px;
    column-gap: 1rem;
  }

  &__size-options,
  &__color-options {
    column-gap: 1rem;

    button {
      padding: 1rem;
      cursor: pointer;
      border-radius: 50%;
      transition: background-color 0.3s ease;
    }
  }

  &__color-option.active {
    border: 2px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }

  &__size-options option {
    cursor: pointer;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 16px;
    border: 2px solid transparent;
    transition: border 0.3s;
  }

  &__size-options option.active {
    border: 2px solid red;
  }
  &__size-options {
    button {
      border-radius: 5px;
      padding: 5px;
      font-size: 1.6rem;
    }
  }
  &__actions {
    margin-top: 5px;
    display: flex;
    column-gap: 1.5rem;
  }

  &__add-to-cart,
  &__buy-now {
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
  }

  &__add-to-cart {
    background-color: #4caf50;
    color: white;

    &:hover {
      background-color: #45a049;
    }
  }

  &__buy-now {
    background-color: #ff5722;
    color: white;

    &:hover {
      background-color: #e64a19;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__price {
    font-size: 2.4rem;
    color: #e74c3c;
    font-weight: bold;

    &-original {
      text-decoration: line-through;
      color: #535353;
    }

    &-discounted {
      margin-left: 10px;
    }
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
  }

  &__specifications {
    list-style: none;
    padding: 0;
    &-title {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 15px 0 10px 0;
    }
    li {
      font-size: 1.3rem;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;

      strong {
        font-weight: bold;
        color: #333;
      }
    }
  }

  &__benefits-row {
    justify-content: space-around;
  }

  &__benefit-item {
    max-width: 10rem;
    text-align: center;
    p {
      font-size: 1.2rem;
    }
  }

  &__benefit-item img {
    width: 3.5rem;
  }
}

.product-tabs {
  margin-top: 3rem;
  line-height: 1.8;
  border: 2px solid #ddd;

  & h2 {
    font-weight: bold;
    font-size: 1.4rem;
  }
}

.product-detail__detailed-description,
.product-detail__detailed-info {
  padding-left: 4rem;
  font-size: 1.4rem;
}

.product-tabs__header {
  column-gap: 2rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  background-color: #f0f0f0;
}

.tab-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px 20px;
}

.tab-btn.active {
  border-bottom: 2px solid #e74c3c;
  color: #e74c3c;
  font-weight: bold;
}

.tab-content {
  display: none;
  padding: 2rem 0.5rem;
}

.tab-content.active {
  display: block;
}

.related-products {
  margin: 3rem 0;
}

.related-products__grid {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  margin-top: 2rem;
}

.product-item {
  width: 100%;
  transform: translateY(0);
  cursor: pointer;
  overflow: hidden;
}

.product-item:hover {
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-item img {
  width: 100%;
  border-radius: 8px;
}

.product-item p {
  text-align: center;
  margin-top: 10px;
  font-size: 1.1rem;
}
