.home__flash-sale,
.home__regular-products {
  margin: 2rem 0;
}

.category {
  border-top: 1px solid #ccc;
}

.home__regular-products {
  border-bottom: 1px solid #ccc;
  padding: 0 0 4rem 0;
}

.category-title {
  text-align: center;
  padding: 3rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: #272323;
}

.category-list-container,
#flash-sale-products,
.category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.category-list-container {
  row-gap: 2.5rem;
  margin-bottom: 5rem;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }

  &__sale-label {
    background-color: #f00;
    font-size: 16px;
    color: #fff;
    padding: 12px 8px 10px 8px;
    text-align: center;
    line-height: 1;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__sale-label::before {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -10px;
    position: absolute;
    border-color: transparent #f00;
    border-style: solid;
    border-width: 0 30px 10px;
  }

  &__color-options {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  &__color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
  }

  &__info {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    font-size: 1.8rem;
    color: #ed1c24;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 1rem 0;
  }

  &__progress {
    position: relative;
    width: 50%;
    height: 20px;
    background-color: #ffbda6;
    border-radius: 5px;

    &-label {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 14px;
    }
    &-bar {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: #ec1f16;
      border-radius: 5px;
    }
  }
}

.home__see-all-btn {
  width: 5rem;
  display: inline-block;
  margin: 2rem 0;
  padding: 0.8rem 1.5rem;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(196, 191, 191);

  &:hover {
    background-color: #2e8ef5;
    a {
      color: #fff;
    }
  }
}
