<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi Tiết Sản Phẩm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/detail.css" />
  </head>
  <body>
    <!-- header -->
    <div id="header-placeholder"></div>

    <div class="container-main">
      <div class="product-detail">
        <img class="product-image" src="" alt="" />
        <h1 class="product-title"></h1>
        <p class="product-price"></p>
        <p class="product-description"></p>
        <ul class="product-specifications"></ul>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer-placeholder"></div>

    <script src="/public/js/views/partials-loader.js"></script>
    <script src="/public/js/views/navigation.js"></script>
    <script src="/public/js/views/product-detail.js" type="module"></script>
    <script src="/public/js/controllers/loadPByCategory-controller.js" type="module"></script>
  </body>
</html>
