<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sản Phẩm Sale</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
  </head>
  <body>
    <!-- header -->
    <div id="header-placeholder"></div>

    <main>
      <div class="container-main">
        <section class="home__flash-sale" aria-label="Regular Products">
          <div id="regular-products" class="product-list">
            <div id="shoes-for-men">
              <h3 class="category-title">Giày Nam</h3>
              <div class="category-list category-list-container"></div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- Footer -->
    <div id="footer-placeholder"></div>

    <script src="../../assets/js/app.js" type="module"></script>
    <script src="../../assets/js/views/navigationView.js"></script>
    <script src="../../assets/js/controllers/getUrlPage-controller.js" type="module"></script>
    <script src="../../assets/js/controllers/categoryController.js" type="module"></script>
  </body>
</html>
